<h1 id="MainHeading" style="margin-bottom: 10px;">Links</h1>
<h3 style="margin: 0px;">Music</h3>
<div id="linkers">
    <a href="https://open.spotify.com/user/lt44xbicwteh7re74qihtg362?si=3b81d1b66fdc4937" target="_blank"><div><img src="../static/../static/media/icons/9796018_spotify_icon.svg" alt="Spotify"></div></a>
    <a href="https://www.youtube.com/@all-roundersquad7252" target="_blank"><div><img src="../static/media/icons/5296521_play_video_vlog_youtube_youtube logo_icon.svg" alt="Youtube"></div></a>
    <a href="https://last.fm/user/Aryan_Sawant" target="_blank"><div><img src="../static/media/icons/9035632_stats_chart_outline_icon.svg" alt="Last.fm" style="height: 40px;"></div></a>
</div>
<h3 style="margin: 0px;">Contact</h3>
<div id="linkers">
    <div class="ctc"  onclick="copyGmailt()"><img src="../static/media/icons/7089163_gmail_google_icon.svg" alt="Gmail"></div>
</div>
<h3 style="margin: 0px;">Socials</h3>
<div id="linkers">
    <a href="https://www.instagram.com/all_rounder_squad/" target="_blank"><div><img src="../static/media/icons/6929237_instagram_icon.svg" alt="Instagram"></div></a>
    <a href="https://x.com/aryan22746" target="_blank"><div><img src="../static/media/icons/11053969_x_logo_twitter_new_brand_icon.svg" alt="Twitter" style="height: 40px;"></div></a>
    <div class="ctc"  onclick="copyDiscord()"><img src="../static/media/icons/8725815_discord_icon.svg" alt="Discord"></div>
</div>
