@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Poppins&display=swap');

body> *{
    transition: all 2s ease;
}
.switch {
    display: flex;
    position: relative;
    width: 4rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    transition: all 2s linear;}
.switch::after {
    content: "";
    position: absolute;
    top: .1rem;
    left: .1rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s linear;}
input[type="checkbox"]:checked + .switch:after {
    translate: 2rem 0;}
input[type="checkbox"]:checked + .switch {
    background-color: #FF8B80;}
input[type="checkbox"] {
    display: none;}
#Identifier{
    color: white;
    font-size:100%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0%;
    font-style: normal;}
.poppinsSansSerif {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;}
.lobsterTwoRegular {
    color: #FF8B80;
    font-family: "Lobster Two", sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: 1.2rem;}
#logo{
    width: 100%;
    aspect-ratio: 1;
}
.section {
    display: flex;
    justify-content: space-around;
    border-radius: 5%;
    align-items: center;
    background-color: #CDD1C4;
    margin: 2%;
    aspect-ratio: 1;
    max-width: 100%;
    text-decoration: none;
}
.section:active{
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.5);
}
.section i{
    position: relative;
    align-items: center;
}
.fontAwesome{
    height: 50px;
}
h1{
    display: inline-block;
    width: fit-content;
}
@keyframes dis{
    0%{
        transform: translateY(100%);
    }
    20%{
        transform: translateY(100%);
    }
    34%{
        transform: translateY(0%);
    }
    86%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(100%);
    }
}
@keyframes moveBackgroundt {
    0% {
        background-position: 0% 5%;
    }
    50% {
        background-position: 7% 5%;
    }
    100% {
        background-position: 0% 5%;
    }
}
.disabled {
    pointer-events: none;
    cursor: not-allowed;
}
#linkers{
    display: flex;
    justify-content: center;
}
#mute-unmute-btn {
    width: 32px;
    height:32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 3;
    opacity: 1;
    transition: all 0.5s ease;
}
#mute-unmute-btn i {
    font-size: 24px;
    color: inherit;
}
.alternatebg{
    background-position: right;
}
#slider,.switch-container{
    background-color: #1d1c4d;
}
.tooltip-template {
    visibility: visible;
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    text-align: center;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
    position: absolute;
    transition: all 0.5s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: xs;
}
.tooltip-template::after {
    content: "";
}
.project{
    border-radius: 4%;
    height: 250px;
    width: 200px;
    display: flex;
    margin: 1%;
    flex-direction: column;
    background:linear-gradient(290deg,
        #070F2B,
        #1B1A55,
        #535C91,
        #C899C2
    );
    transition: all 1s;
}
.projectImg{
    border-radius: 4%;
    background-color: #B6D5F4;
    width: 100%; 
    margin: auto;
    margin-top: 5%;
    height: 80%; 
    width: 80%; 
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    transition: all 0s;
}
.projectAlt{
    background:linear-gradient(290deg,
    #FF8B80,
    #FFDABC,
    #F2B9C3,
    #E599CA
    ); 
}
.projectImgAlt{
    background-color: #F9F8E6;
}
.projectContainer{
    height: fit-content;
    width: fit-content;
    margin: 1%;
}
@media only screen and (max-width: 600px) {
    /*Mobile devices and tablets*/
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-direction: column;
    background: #B6D5F4;
    transition: background-color 1s linear;
    overflow-x:hidden;
    overflow-y: auto;
    min-height: 100vh;
    background-image: linear-gradient(1deg, 
                #070F2B 0%,
                #1B1A55 10%,
                #535C91 20%,
                #C899C2 30%,
                #CB8ACA 40%,
                #CE7AD1 50%,
                #E599CA 60%,
                #F2B9C3 70%,
                #FFDABC 80%,
                #FF8B80 90% 
            );
    background-size: 20000%;
    margin: 0px;
    padding: 0px;
}
.stalebodyt{
    animation: moveBackgroundt;
}
.changeForward{
    animation: bgc 2s forwards;
}
.changeBackwards{
    animation: bgc 2s reverse;
}
@keyframes moveBackgroundt {
    0% {
        background-position: 0% 5%;
    }
    50% {
        background-position: 7% 5%;
    }
    100% {
        background-position: 0% 5%;
    }
}
@keyframes bgc{
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
@keyframes sliderSlide{
    0%{
        top: 0%;
    }
    25%{
        top: 85%;
    }
    75%{
        top: 85%;
    }
    100%{
        top: 0%;
    }
}
#slider{
    display: flex;
    margin:1%;
    width: 98%;
    justify-content: space-between;
    flex-direction: row;
    aspect-ratio: 4 / 1;
    position: absolute;
    border-top-left-radius: 2% 5%;
    border-top-right-radius: 2% 5%;
    border-bottom-left-radius: 2% 5%;
    border-bottom-right-radius: 2% 5%;
    top: 0%;
    left: 0%;
    right: 100%;
    transition: left 1s ease;
    z-index: 2;
    order: 1;
}
.tootsieslide{
    animation: sliderSlide 6s;
}
#content{
    opacity: 1;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 2% 5%;
    border-top-right-radius: 2% 5%;
    transition: all 1s ease;
    color: white;
    padding: 1.5%;
    padding-top: 0%;
    background-image: linear-gradient(to bottom, #1d1c4d , transparent);
    width: 98%;
    order: 2;
    margin-left: 1%;
    margin-right: 1%;
}
#MainHeading{
    display: block;
}
.title{
    margin: 0%;
    font-size: small;
    display: grid;
    align-items: center;
    column-gap: 1.6rem;
}
.title::before,.title::after{
    content: "";
    height: 2px;
    background-color: rgba(255, 255, 255, 0.322);
    display: block;
}
#footer{
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    padding-top: 1%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: visible;
    left: 0%;
    margin: 0%;
    position:relative;
    background-color: #1d1c4d;
    color: white;
    width: 100%;
    top: 100%;
    flex-shrink: 0;
}  
.switch-container{
    display: flex;
    justify-content: center;
}
#switchcontcont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2%;
    aspect-ratio: 1;
    max-width: 90%;
}
.project{
    height: 200px;
    width: 165px;
}
#WelcomeContainer{
    z-index: 3;
    position: relative;
    display: none;
    height: 100%;
    left: 0%;
    top: 5%;
    width: 85%;
    order: 1;
}
#Welcome1,#Welcome2{
    display: none;
    width: fit-content;
    height: fit-content;
    margin: 0%;
    overflow: hidden;
}
#updown{
    font-size:400%;
    transform: translateY(100%);
    margin: 0%;
    width: fit-content;
    animation: dis 5s ease-in-out;
    color: #2f2f2f;
}
#Welcome1:active,#Welcome2:active{
    display: flex;
}
#links{
    display: none;
}
.pointer-follower{
    color: transparent;
}
.fas{
    color: #1d1c4d;
}
#linkers{
    justify-content: space-around;
    margin: 1%;
    width: 30%;
}
#linkers > div,#linkers > a{
    height:20px;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #ffffff83;
    margin: 1%;
    padding: 1%;
}
#linkers > div> img{
    width: 90%;
    height:90%;
    position: relative;
}
#mute-unmute-btn{
    top:  94%;
    left: 90%;
}
@media only screen and (min-width: 410px){
    #content{
        top:4%;
    }
}
@media only screen and (min-width: 500px){
    #content{
        top:8%;
    }
}
@media (max-width: 450px) {
    .section .fas {
        font-size: 2em !important;
    }
}
}

@media only screen and (min-width: 601px) {
/*Laptops and desktops */

body{
    background: linear-gradient(to right, 
        #070F2B 0%,
        #1B1A55 10%,
        #535C91 20%,
        #C899C2 30%,
        #CB8ACA 40%,
        #CE7AD1 50%,
        #E599CA 60%,
        #F2B9C3 70%,
        #FFDABC 80%,
        #FF8B80 90% 
    );
    background-size: 500%;
    display: flex;
    justify-content: flex-start;
    transition: background-color 1s ease;
    height: 100vh;
    overflow-y: hidden;
    z-index: -2;
}
.stalebodyt{
    animation: moveBackgroundt 17s infinite ease-in-out alternate;
}
.changeForward{
    animation: bg 2s forwards;
}
.changeBackwards{
    animation: bg 2s reverse;
}
@keyframes bg{
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
} 
#slider{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    height: 98vh;
    width: 15%;
    border-top-left-radius:  5% 2%;
    border-top-right-radius: 5% 2%;
    border-bottom-left-radius:  5% 2%;
    border-bottom-right-radius: 5% 2%;
    position:sticky;
    transition: all 1s ease;
    z-index: 2;
    left: 100%;
}
#content{
    right: 100%;
    color: white;
    opacity: 1;
    padding: 1.5%;
    padding-top: 0%;
    visibility: visible;
    position: sticky;
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 85%;
    margin:2%;
    margin-top: 0%;
    border-top-left-radius: 2% 5%;
    border-top-right-radius: 2% 5%;
    transition: opacity 1s ease;
    background-image: linear-gradient(to bottom, #1d1c4dea , transparent);
}
.switch-container{
    display: flex;
    justify-content: center;
}
#footer{
    display: none;
}
#WelcomeContainer{
    margin: 7%;
    display: none;
    position: absolute;
    height: 100%;
    right: 0%;
    width: 85%;
}
#Welcome1,#Welcome2{
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    height: fit-content;
    margin: 0%;
    overflow: hidden;
    z-index: 2;
}
#updown{
    color: #FFDABC;
    font-size: 500%;
    display: flex;
    transform: translateY(100%);
    margin: 0%;
    width: fit-content;
    animation: dis 5s ease-in-out; 
}
#updown:active{
    display: block;
}
.pointer-follower{
    color: #1b1a55d0;
}
.fas{
    color: #1b1a55;
}
#linkers{
    justify-content: flex-start;
    flex-flow: row wrap;
}
#linkers > div,#linkers > a{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ffffff83;
    margin: 1%;
    padding: 1%;
}
#linkers > div > img{
    width: 100%;
    height: 100%;
}
#mute-unmute-btn{
    top: 90%;
    left: 3.5%;
}
}
.snow-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    transition: opacity 1s ease;
    overflow: hidden;
}
#sno{
    opacity: 0;
}
.snow-bg:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://library.elementor.com/resources/christmas-snow-effect/s1.png'), url('https://library.elementor.com/resources/christmas-snow-effect/s2.png'), url('https://library.elementor.com/resources/christmas-snow-effect/s3.png');
    animation: snow 10s linear infinite;
    transition: all 1s;
}
@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
.fas{
    transition: all 0s;
}
