<h1 id="MainHeading" style="margin-bottom: 0%;">Links</h1>
<h3>Coding</h3>
<div id="linkers">
    <a href="https://github.com/aryanjsawant" target="_blank"><div><img src="../static/media/icons/github-mark.svg" style="height: 40px;" alt="Github"></div></a>
    <a href="https://leetcode.com/u/aryan-sawant/" target="_blank"><div><img style="height: 40px;" src="../static/media/icons/leetcode.svg" alt="Leetcode"></div></a>
</div>
<h3>Contact</h3>
<div id="linkers">
    <div class="ctc" onclick="copyGmailt()"><img src="../static/media/icons/7089163_gmail_google_icon.svg" alt="Gmail"></div>
    <a href="https://www.linkedin.com/in/aryan-j-sawant/" target="_blank"><div><img src="../static/media/icons/5296501_linkedin_network_linkedin logo_icon.svg" alt="Linked in"></div></a>
</div>
<h3>Socials</h3>
<div id="linkers">
    <a href="https://www.instagram.com/aryan_sawant_24/" target="_blank"><div><img src="../static/media/icons/6929237_instagram_icon.svg" alt="Instagram"></div></a>
    <a href="https://x.com/aryan22746" target="_blank"><div><img src="../static/media/icons/11053969_x_logo_twitter_new_brand_icon.svg" alt="Twitter" style="height: 40px;"></div></a>
    <div class="ctc"  onclick="copyDiscord()"><img src="../static/media/icons/8725815_discord_icon.svg" alt="Discord"></div>
    <a href="https://www.reddit.com/user/aryan_sawant_/" target="_blank"><div><img src="../static/media/icons/3225187_app_logo_../static/media_popular_reddit_icon.svg" alt="reddit"></div></a>
</div>